language: python

python:
  - "2.7"

install:
  - pip install -r requirements.txt --use-mirrors
  - pip install -r dev_requirements.txt --use-mirrors
  - pip install coveralls --use-mirrors

script: make package

after_success:
  coveralls
